
<div class="span12 background">
  <section>
    <h2>{{title}}</h2>
    <hr/>
    
    <fieldset>
        <legend>Place order</legend>
        
        <div class="row-fluid">
            <div class="span4">
              <label>Order # <span class="text-error"><strong> *</strong></span></label>
              <input type="text" ng-model="order.orderId" value="{{orders.length}}"></input>
            </div>
            <div class="span4">  
              <form-input label="Date" type="date" form-id="date" target="order" required></form-input>
            </div>
            <div class="span4" >
              <label>Supplier <span class="text-error"><strong> *</strong></span></label>
              <select ng-model="order.supplier._id">
                <option ng-repeat="supplier in suppliers" value="{{supplier._id}}">{{supplier.name}}</option>
              </select>
            </div>
        </div>
        <table class="table">
            <tr>
                <th style="width:50px;">#</th>
                <th>Product</th>
                <th style="width:85px;">Quantity</th>
                <th style="width:115px;">Price per unit</th>
                <th style="width:75px; text-align: right;">Price</th>
                <th style="width:50px;"></th>
            </tr>
            <tr>
                <td><input type="text" readonly ng-model="stock.order" class="input-mini"/></td>
                <td><input type="text" ng-model="stock.product" list="products" class="span11" autocomplete="on"/></td>
                <td><input type="number" ng-model="stock.quantity" class="input-mini" min="1"/></td>
                <td><input type="number" ng-model="stock.priceperunit" class="input-small" step="0.01" /></td>
                <td><span class="pull-right">{{price(stock) | currency:company.currency }}</span></td>
                <td><input type="button" class="btn btn-success" value="Add" ng-click="addToStock()"/></td>
            </tr>
            <tr ng-repeat="stock in order.items" class="" ng-class="{'success': stock.mouseOver || stock.received}">
                <td>{{stock.order}}</td>
                <td>{{stock.product}}</td>
                <td>{{stock.quantity}}</td>
                <td><span class="pull-right">{{stock.priceperunit | currency:company.currency }}</span></td>
                <td><span class="pull-right">{{price(stock) | currency:company.currency }}</span></td>
                <td>
                    <i ng-hide="stock.received" class="icon-ok lead" style="cursor: pointer;" ng-click="mouseClicked(stock)" 
                       ng-class="{'text-success' : stock.mouseOver || stock.received, 'muted': !stock.mouseOver}" 
                       ng-mouseover="mouseOver(stock)" ng-mouseleave="mouseExit(stock)"></i>
                    <i ng-hide="!stock.received" class="icon-minus lead" style="cursor:pointer;" ng-click="mouseClickedRemove(stock)" 
                       ng-mouseover="mouseOver(stock)" ng-mouseleave="mouseExit(stock)"
                       ng-class="{'text-error' : stock.mouseOver, 'muted': !stock.mouseOver}" ></i>     
                    <i class="icon-remove lead pull-right" style="height:4px; cursor: pointer;" ng-click="deleteStock(stock)"></i>  
                </td>
            </tr>
            <tr>
                <th colspan="4">Total price</th>
                <th><span class="pull-right">{{totalPriceAll() | currency:company.currency }}</span></th>
                <th></th>
            </tr>
        </table>
        
        <button class="btn btn-primary" ng-click="sendOrder()">Send order</button>
        <br/>
        <br/><label ng-show="order.supplier"> An email will be send to <b>{{order.supplier.email}}</b></label>
        
        <datalist id="products">
            <option ng-repeat="product in products | orderBy:'name'" value="{{product.name}} - ({{product.unit}} {{product.unitName}})">
        </datalist>
    </fieldset>
  </section>
</div>