<div class="span12 background">
  <section>
    <h2>{{title}}</h2>
    <hr/>
    
    <ul class="nav nav-tabs">
      <li><a href="#ongoing-orders" data-toggle="tab" ng-click="unactivateTabPane()">Ongoing orders</a></li>
      <li><a href="#completed-orders" data-toggle="tab" ng-click="unactivateTabPane()">Completed orders</a></li>
    </ul>
    <div class="tab-content">
      <ul class="nav nav-tabs tab-pane" id="ongoing-orders">
        <li ng-repeat="order in ongoingOrders()"><a href="#{{order._id}}" data-toggle="tab">Order # <strong>{{order.orderId}}</strong></a></li>      
      </ul>
      <ul class="nav nav-tabs tab-pane"id="completed-orders">
        <li ng-repeat="order in finishedOrders()"><a href="#{{order._id}}" data-toggle="tab">Order # <strong>{{order.orderId}}</strong></a></li>      
      </ul>
    </div>
    
    
    <div class="tab-content">
      <div ng-repeat="order in orders" id="{{order._id}}" class="tab-pane">
        <h3>Order # {{order.orderId}}</h3>
        <label>Order date: <strong>{{order.date}}</strong></label>
        <label>Supplier name: <strong>{{order.supplier.name}}</strong></label>
      
        <div class="row bordered hidden-xs">
          <div class="col-sm-1 header"><label>#</label></div>
          <div class="col-sm-3 header"><label>Product</label></div>
          <div class="col-sm-3 header"><label>Expiration date</label></div>
          <div class="col-sm-1 header"><label>Quantity</label></div>
          <div class="col-sm-2 header"><label>Price per unit</label></div>
          <div class="col-sm-1 header" ng-class="{'col-sm-2': order.finished}"><label>Price</label></div>
          <div class="col-sm-1 header" ng-show="!order.finished"><label>Edit</label></div>
        </div>
        <div class="row bordered" ng-repeat="stock in order.items" ng-class="{'success': stock.mouseOver || stock.received}">
          <div class="col-sm-1"><span class="visible-xs">#</span><label>{{stock.order}}</label></div>
          <div class="col-sm-3"><span class="visible-xs">Product</span><label>{{getProduct(stock.productId).name}} ({{getProduct(stock.productId).unit}} {{getProduct(stock.productId).unitName}})</label></div>
          <div class="col-sm-3"><span class="visible-xs">Expiration Date</span><label>{{stock.expirationDate}}</label></div>
          <div class="col-sm-1"><span class="visible-xs">Quantity</span><label>{{stock.quantity}}</label></div>
          <div class="col-sm-2"><span class="visible-xs">Price per unit</span><label>{{stock.priceperunit | currency:company.currency }}</label></div>
          <div class="col-sm-1" ng-class="{'col-sm-2': order.finished}"><span class="visible-xs">Price</span><label>{{price(stock) | currency:company.currency }}</label></div>
          <div class="col-sm-1" ng-show="!order.finished">
            <i ng-hide="stock.received" class="icon-ok lead" style="cursor: pointer;" ng-click="mouseClicked(stock)" 
                   ng-class="{'text-success' : stock.mouseOver || stock.received, 'muted': !stock.mouseOver}" 
                   ng-mouseover="mouseOver(stock)" ng-mouseleave="mouseExit(stock)"></i>
                <i ng-hide="!stock.received" class="icon-minus lead" style="cursor:pointer;" ng-click="mouseClickedRemove(stock)" 
                   ng-mouseover="mouseOver(stock)" ng-mouseleave="mouseExit(stock)"
                   ng-class="{'text-danger' : stock.mouseOver, 'muted': !stock.mouseOver}" ></i>     
                <i class="icon-remove lead pull-right" style="height:4px; cursor: pointer;" ng-click="deleteStock(stock, order)"></i>  
          </div>
        </div>
        
        <div class="row totalbordered">
          <div class="col-sm-8"><label>Total Price</label></div>
          <div class="col-sm-4"><label>{{totalPriceAll(order) | currency:company.currency }}</label></div>
        </div>
        <hr/>
        <button class="btn btn-danger" ng-click="remove(order)" ng-show="!order.finished">Not received (Delete)</button>
        <button class="btn btn-success pull-right" ng-click="finishOrder(order)" ng-show="!order.finished">Finish</button>
      </div>
    </div>
            
    <datalist id="products">
        <option ng-repeat="product in products | orderBy:'name'" value="{{product.name}} - ({{product.unit}} {{product.unitName}})">
    </datalist>
  </section>
</div>