@CHARSET "ISO-8859-1";

/* Override some defaults for the login form */
html,body {
	background-color: #E7F0FF;
}

body {
	padding-top: 40px;
	font: 13px/1.7em 'Open Sans', arial, sans-serif;
}

p{
	font: 13px/1.7em 'Open Sans', arial, sans-serif;
}

.container {
	width: 300px;
}

/* The white background content wrapper */
.container .content {
	background-color: #fff;
	padding: 10px 25px;
	width: 330px;
	margin-left: -40px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .15);
}

.row{
	margin-left: 0;
}

.login-form {
}

.login-form .form-horizontal .control-label {
	width: 80px;
}
.login-form .form-horizontal .controls {
	margin-left:100px;
}

.login-form input[type="submit"]{
	margin-top: 10px;
}

.error{
	color: #a80000;
}

.success{
	color: #37a800;
}