<div class="navbar navbar-default navbar-fixed-top" ng-hide="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{company.name}}</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="menu.Home">
          <a href="/#/home"><i class="icon-home icon-white"></i>Home</a>
        </li>
        <li ng-class="menu.Settings">
          <a href="/#/settings"><i class="icon-cog"></i>Settings</a>
        </li>
        <li ng-class="menu.Stock" class="dropdown" id="stock-menu">
          <a href="#stock-menu" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-building"></i>Stock <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
                <a href="/#/stock/order/place">Place order</a>
            </li>
            <li>
                <a href="/#/stock/order/view">View order</a>
            </li>
          </ul>
        </li>
        <li ng-class="menu.Sale">
          <a href="/#/sale"><i class="icon-tag"></i>Sales</a>
        </li>
        <li>
          <a href="#"><i class="icon-folder-close"></i>Payment?</a>
        </li>
        <li>
          <a href="#"><i class="icon-file"></i>Expenditure?</a>
        </li>
        <li>
          <a href="#"><i class="icon-file"></i>Report?</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>