<link rel="stylesheet" type="text/css" href="styles/login.css" ng-cloak>
<div class="content">
<div class="row">
<div class="login-form" ng-init="authCheck()">
	<form name="loginForm" class="form-horizontal" ng-submit="onLogin()" novalidate>
	  <fieldset>
      	<legend>Login</legend>
      	<div class="alert alert-error" ng-show="error">{{error}}</div>
		<div class="control-group">
		    <label class="control-label" for="username">Username</label>
			<div class="controls">
				<input type="text" class="input span12" name="username" placeholder="username" required
			 		   ng-model="login.username">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="password" class="input span12" name="password" placeholder="password" required
					   ng-model="login.password">
			</div>
		</div>
		<div class="control-group">
		    <div class="controls">
		    	<label class="checkbox"> <input type="checkbox" ng-model="login.remember"> Remember me </label>
		        <input type="submit" class="btn btn-primary" name="submit" value="Sign in" ng-disabled="loginForm.$invalid">
		    </div>
	  	</div>
	  </fieldset>	 
	</form>
</div>
</div>
</div>