<div>
  <section>
    <h2>Settings</h2>
    <hr/>
    
    <div class="row">
      <div class="col-md-4">
        <blockquote>
          <h3>General</h3>
            <div>
                <i class="icon-building iwidth2em"></i>
                <a href="/#/settings/company/1"><strong>Company Information</strong></a>
            </div>
            <div>
                <i class="icon-envelope iwidth2em"></i>
                <a href="/#/settings/email/1"><strong>Email settings</strong></a>
            </div>            
        </blockquote>
      </div>  
    </div>
    
    <hr/>
    
    <div class="row">
      <div class="col-md-4">
        <blockquote>
          <h3>Accounts</h3>
            <div>
                <i class="icon-plus iwidth2em"></i>
                <a href="/#/settings/account/add"><strong>Add user account</strong></a>
            </div>
            <div>
                <i class="icon-eye-open iwidth2em"></i>
                <a href="/#/settings/account/view"><strong>View user accounts</strong></a>
            </div>
            <div>
                <i class="icon-key iwidth2em"></i>
                <a href="/#/settings/account/changepassword"><strong>Change password</strong></a>
            </div>
        </blockquote>
      </div>  
       
      <div class="col-md-4">
        <blockquote>
          <h3>Products</h3>
            <div>
                <i class="icon-plus iwidth2em"></i>
                <a href="/#/settings/product/add"><strong>Add a product</strong></a>
            </div>
            <div>
                <i class="icon-eye-open iwidth2em"></i>
                <a href="/#/settings/product/view"><strong>View products</strong></a>
            </div>
        </blockquote>
      </div>  
      <div class="col-md-4">
        <blockquote>
          <h3>Supplier</h3>
            <div>
                <i class="icon-plus iwidth2em"></i>
                <a href="/#/settings/supplier/add"><strong>Add a supplier</strong></a>
            </div>
            <div>
                <i class="icon-eye-open iwidth2em"></i>
                <a href="/#/settings/supplier/view"><strong>View suppliers</strong></a>
            </div>
        </blockquote>
      </div>
    </div>
    
    <hr/>
    
    <div class="row">
      <div class="col-md-4">
        <blockquote>
          <h3>Client</h3>
            <div>
                <i class="icon-cog iwidth2em"></i>
                <a href="/#/settings/client"><strong>Client settings</strong></a>
            </div>
        </blockquote>
      </div>  
    </div>
    
  </section>
</div>