
<div>
  <section ng-init="onInit('account', 'Settings')">
    <h2>{{action}} account</h2>
    <hr/>
    
    <form class="form-horizontal" ng-submit="onSave('account', '/settings')" novalidate>
      <div>
        <div class="col-md-5">
        
          <form-input label="First name" form-id="firstname" target="account" required/></form-input>
          <form-input label="Middle name" form-id="middlename" target="account" /></form-input>
          <form-input label="Last name" form-id="lastname" target="account" required/></form-input>
          
          <form-input type="date" label="Birth date" form-id="birthdate" target="account"/></form-input>
          <form-input label="Telephone" form-id="telephone" target="account" /></form-input>
          <form-input type="email" label="Email" form-id="email" target="account" required/></form-input>
    
          <form-input label="City" form-id="city" target="account" /></form-input>
          <form-input label="Country" form-id="country" target="account"/></form-input>
        
          <input type="submit" class="btn btn-primary default-width"/>  
        
        </div>
        
        <div class="col-md-5 col-md-offset-1">
          <form-input label="Username" form-id="username" ng-hide="hide" target="account" required /></form-input>
          <form-input type="password" label="Password" ng-hide="hide" form-id="password" target="account" required/></form-input>
        </div>


      </div>
    </form>
    
  </section>
</div>