
<div class="span12 background">
  <section>
    <h2>Change Password</h2>
    <hr/>
    
    <form class="form-horizontal" ng-submit="onSave()" novalidate>
    
      <div class="span6">
      
        <form-input type="password" label="Old password" form-id="oldpassword" target="account" required/></form-input>
        <form-input type="password" label="New password" form-id="newpassword" target="account" required/></form-input>
        <form-input type="password" label="Repeat new password" form-id="newpassword2" target="account" required/></form-input>
        
        <form-input type="submit" fclass="btn btn-primary" disabled="{{buttonDisabled}}" target="account" label="" form-id="submit"/></form-input>
        
      </div>
      
    </form>
    
  </section>
</div>