
<div>
  <section>
    <h2>Change Password</h2>
    <hr/>
    
    <form class="form-horizontal" ng-submit="onSave()" novalidate>
    
      <div class="col-md-4">
      
        <form-input type="password" label="Old password" form-id="oldpassword" target="account" required/></form-input>
        <form-input type="password" label="New password" form-id="newpassword" target="account" required/></form-input>
        <form-input type="password" label="Repeat new password" form-id="newpassword2" target="account" required/></form-input>
        
        <input type="submit" class="btn btn-primary default-width"/>
        
      </div>
      
    </form>
    
  </section>
</div>