
<div class="">
  <section ng-init="onInit('company', 'Settings')">
    <h2>{{action}} company</h2>
    <hr/>
    
    <form class="form-horizontal" ng-submit="onSave('company', '/settings')" novalidate>
    
      <div class="col-md-5">
        
        <form-input label="Company name" form-id="name" target="company" required /></form-input>
        <form-input label="Currency" form-id="currency" target="company" required /></form-input>
        <form-input label="<b>What</b> does the company sell" form-id="product" target="company" required /></form-input>
        <form-input label="To <b>Whom</b> does the company sell" form-id="client" target="company" required /></form-input>
        
        <input type="submit" class="btn btn-primary default-width" />
        
      </div>
      
      
    </form>
    
  </section>
</div>