
<div class="">
  <section ng-init="onInit(undefined, 'Settings')">
    <h2>{{action}} Email Settings</h2>
    <hr/>
    
    <form role="form" ng-submit="onSave('email', '/settings')" novalidate>
    
      <div class="col-md-9">
        
        <form-input label="Titel" form-id="title" target="email" required /></form-input>
        <div class="form-group" ng-class="{error: errors.body}" ng-controller="EmailCtrl">
            <label class="control-label" for="body">Message body<span class="text-error"><strong> *</strong></span></label>
            <div style="display:inline-block;" class="btn btn-warning span3 pull-right" ng-click="addLink()">Add link</div>
            <textarea ng-model="email.body" ng-disabled="undefined" class="form-control" rows="4" id="body" name="body" required="required"></textarea>
            <span class="help-inline"></span>
        </div>
        
        <input type="submit" class="btn btn-primary default-width" />
      </div>
      
      
    </form>
    
  </section>
</div>