
<div>
  <section ng-init="onInit('account', 'Settings')">
    <h2>View account</h2>
    <hr/>
    
    <table class="table table-hover table-bordered">
        <thead>
          <tr>
              <th>Name</th>
              <th>Birth date</th>
              <th>Telephone</th>
              <th>Email</th>
              <th>City</th>
              <th>Country</th>
              <th style="width:50px;"></th>
              <th style="width:50px;"></th>
          </tr>
         </thead>
         <tbody>
           <tr ng-repeat="account in collections">
              <td>{{account.firstname}} {{account.middlename}} {{account.lastname}}</td>
              <td>{{account.birthdate}}</td>
              <td>{{account.telephone}}</td>
              <td>{{account.email}}</td>
              <td>{{account.city}}</td>
              <td>{{account.country}}</td>
              <td><button class="btn btn-success btn-sm" ng-click="edit(account._id, '/settings/account')">Edit</button></td>
              <td><button class="btn btn-danger btn-sm" ng-click="deleteA(account, 'account')">Delete</button></td>
            </tr>
          </tbody>
    </table>
      
  </section>
</div>