
<div>
  <section ng-init="onInit('supplier', 'Settings')">
    <h2>View supplier</h2>
    <hr/>
    
    <input type="text" ng-model="search" class="form-control" style="width: 200px" placeholder="Search suppliers"/><br/>
    
    <table class="table table-hover table-bordered">
        <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th>email</th>
              <th style="width:50px;"></th>
              <th style="width:50px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="supplier in collections  | filter:search | orderBy:'name'">
              <td ng-bind-html-unsafe="supplier.name | highlight:search"></td>
              <td ng-bind-html-unsafe="supplier.description | highlight:search"></td>
              <td ng-bind-html-unsafe="supplier.email | highlight:search"></td>
              <td><button class="btn btn-success btn-sm" ng-click="edit(supplier._id, '/settings/supplier')">Edit</button></td>
              <td><button class="btn btn-danger btn-sm" ng-click="deleteA(supplier, 'supplier')">Delete</button></td>
          </tr>
        </tbody>
    </table>
      
  </section>
</div>