
<div>
  <section ng-init="onInit('product', 'Settings')">
    <h2>View product</h2>
    <hr/>
    
    <input type="text" ng-model="search" class="form-control" style="width: 200px" placeholder="Search Products"/> <br/>
    
    <table class="table table-hover table-bordered">
        <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Unit</th>
              <th>Buying Price</th>
              <th>Selling</th>
              <th style="width:70px; text-align: right;">Quantity</th>
              <th style="width:50px;"></th>
              <th style="width:50px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in collections  | filter:search | orderBy:'name'">
              <td ng-bind-html-unsafe="product.name | highlight:search"></td>
              <td ng-bind-html-unsafe="product.description | highlight:search"></td>
              <td ng-bind-html-unsafe="product.unit + ' '+ product.unitName | highlight:search"></td>
              <td ng-bind-html-unsafe="product.buyingPrice  | currency:company.currency | highlight:search"></td>
              <td ng-bind-html-unsafe="product.sellingPrice  | currency:company.currency | highlight:search"></td>
              <td><span class="pull-right">{{product.quantity}}</span></td>
              <td><button class="btn btn-success btn-sm" ng-click="edit(product._id, '/settings/product')">Edit</button></td>
              <td><button class="btn btn-danger btn-sm" ng-click="deleteA(product, 'product')">Delete</button></td>
          </tr>
        </tbody>
    </table>
      
  </section>
</div>